.preInfoBox.card {
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    border: none;
}

.preInfoBox .card-body:nth-child(1) {
    background-color: purple;
    border-radius: 12px;
}

.preInfoBox .card-img {
    width: 128px;
    height: 128px;
}

.profileBox hr {
    margin: 0.5rem 0;
    color: rgba(153, 51, 255, .4);
    border: 0;
    border-top: 2px solid;
    opacity: .4;
}

.preInfoPhoto {
    margin: 0 auto;
}

.preInfoIcon {
    width: 26px;
}

.profilePreInfo {
    display: flex;
    align-items: center;
    gap: 8px;
}

.preInfoIconCont {
    background: #fefefe;
    box-shadow: 0 2px 6px 2px rgba(60, 64, 67, .15);
    border-radius: 8px;
    padding: 5px;
    display: flex;
}

.preInfoHeader {
    font-weight: 500;
    font-size: 10px;
    color: #828282;
}

.preInfoValue {
    font-weight: 600;
    font-size: 16px;
    color: #181818;
    word-break: break-all;
}

.profileRoundItemCont {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.profileRoundItem {
    padding: 10px 20px;
    background: #fff;
    box-shadow: 2px 10px 24px hsla(0, 0%, 9%, .12);
    border-radius: 54px;
    text-align: left;
    width: 100%;
}

.profileSkillName {
    font-size: 15px;
    font-weight: 500;
    color: #828282;
    text-transform: capitalize;
}

.profileSkillLevel {
    font-size: 12px;
    font-weight: 500;
    color: hsla(0, 0%, 51%, .8);
}

.profileLangCont {
    padding: 10px 20px;
    background: #fff;
    box-shadow: 2px 10px 24px hsla(0, 0%, 9%, .12);
    border-radius: 54px;
    text-align: left;
    width: 100%;
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.profileBox.card .card-title {
    font-weight: 600;
    font-size: 18px;
    color: #323232;
    margin: 0;
}

.hover:hover {
    background: #93f;
    color: #fff;
}

.profileCertificate {
    display: flex;
    align-items: center;
    justify-content: space-between;
    word-break: break-all;
}

.profileCertificate::after {
    background-image: url(../../../public/images/png.png);
    background-size: 20px 20px;
    display: inline-block;
    min-width: 20px;
    height: 20px;
    content: "";
    cursor: default;
}
.profileMediaCont{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 1rem;
}
.mediaAccountPhoto{
    width: 53px;
}