.nav-buttons {
  text-align: center;
}

.navbar{
  padding: 0px 20px !important;
} 

.navbar-tab {
  display: block;
  padding: var(--bs-nav-link-padding-y) var(--bs-nav-link-padding-x);
  font-size: var(--bs-nav-link-font-size);
  font-weight: var(--bs-nav-link-font-weight);
  color: var(--bs-nav-link-color);
  text-decoration: none;
  background: 0 0;
  border: 0;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out;
  padding-left: 0.5rem;
  padding-right: 1rem;
}

.nav-style .navbar-tab:hover {
  color: #9933ff !important;
}

.nav-style .navbar-tab:focus {
  color: #9933ff !important;
  font-weight: bolder;
}

.custom-navbar {
  height: 80px;
}

.nav-style {
  font-size: 15.2px;
  font-weight: bold;
}



/*Dropdown*/
/*Navigation dropdown*/

.d-xxl-block {
  display: block!important;
  font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif;
}

.d-none {
  display: none!important;
}

.align-items-center {
  align-items: center!important;
}

.d-flex {
  display: flex!important;
}

/*Dropdown tobeto logo*/
.gap-1em{
  gap: 1em;
}

.mx-3 {
  margin-right: 0.75rem!important;
  margin-left: 0.75rem!important;
}

.tbt-gradient:after {
  background-image: url(/public//images/tbtlogo-gradient.7979f966.svg);
  width: 24px;
  height: 24px;
}

.notification:after, .tbt-gradient:after {
  content: "";
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: contain;
  display: block;
  cursor: pointer;
  box-shadow: 2px 10px 24px hsla(0,0%,9%,.12);
}
/*Dropdown Div Button*/
.btn-group {
  border-radius: 25px;
}

.btn-group, .btn-group-vertical {
  position: relative;
  display: inline-flex;
  vertical-align: middle;
}

.header-avatar {
  background: #f8f9fa;
  border-radius: 35px;
  padding: 7px 10px;
  display: inline-flex;
  align-items: center;
}

/*Dropdown Button*/

.text-end {
  text-align: right!important;
}

.fw-normal {
  font-weight: 400!important;
}

.p-0 {
  padding: 0!important;
}

.btn{
  border: 2px solid #fff !important;
  color: #000000 !important;
}

.btn:hover{
  transition: 2s ;
  border-color: #93f !important;
}

.btn.show{
  border-color: #93f !important;
}

.b-r-35 {
  border-radius: 25px!important;
}

/*Dropdown profil foto*/
.me-2 {
  margin-right: 0.5rem!important;
}

.dropdown-img{
  display: block;
  max-width: 15%;
  width: initial;
  height: initial;
  background: none;
  opacity: 1;
  border: 0px;
  margin: 0px;
  padding: 0px;
}

.dropdown-pp{
  box-sizing: border-box;
  display: inline-block;
  overflow: hidden;
  width: initial;
  height: initial;
  background: none;
  opacity: 1;
  border: 0px;
  margin: 8px 0px 0px 0px;
  padding: 0px;
  position: relative;
  max-width: 100%;
}

.dropdown-pp-2{
  box-sizing: border-box;
  display: block;
  width: initial;
  height: initial;
  background: none;
  opacity: 1;
  border: 0px;
  margin: 0px;
  padding: 0px;
  max-width: 100%;
}

.dropdown-pp-img{
  display: block;
  max-width: 100%;
  width: initial;
  height: initial;
  background: none;
  opacity: 1;
  border: 0px;
  margin: 0px;
  padding: 0px;
}

.dropdown-pp-img-2{
  position: absolute;
  inset: 0px;
  box-sizing: border-box;
  padding: 0px;
  border: none;
  margin: auto;
  display: block;
  width: 0px;
  height: 0px;
  min-width: 100%;
  max-width: 100%;
  min-height: 100%;
  max-height: 100%;
}
.rounded-circle {
  border-radius: 50% !important;
}
/*Dropdown liste*/
.dropdown-menu.show{
  background-color: #93f !important;
  border-width: 1px;
  border-color: #fff;
  width: 100%;
}

.dropdown-menu[data-bs-popper] {
  top: 100%;
  left: 0;
  margin-top: var(--bs-dropdown-spacer);
}

.profil-dropdown{
  font-size: 14px;
  color: #fbf9fc !important;
}

.profil-dropdown:hover {
  color: #000000 !important;
}

.dropdown-divider{
  border-top: 3px solid #6a359f !important;
}

/*Dropdown Toggle*/
.dropdown-toggle::after{
  visibility: visible;
  display: none !important;
  margin-left: 0.255em;
  vertical-align: 0.255em;
  content: "";
  border-top: 0.3em solid;
  border-right: 0.3em solid transparent;
  border-bottom: 0;
  border-left: 0.3em solid transparent;
  
}
