.info-section {
  padding-bottom: 15px;
}

.activity-detail-info{
    margin-left: -47px;
    margin-top: 20px;
}

.activity-detail-info i {
  margin: 2px 7.5px 0 0;
  
}

.info-section#last-section {
  padding-top: 9px !important;
  padding-right: 0 !important;
  padding-bottom: 5px !important;
  padding-left: 0 !important;
}

strong {
  font-weight: 600 !important;
}

label{
  margin-left: 4px;
}

.sg-icon{
  display: inline-block;
  vertical-align: middle;
  font-style: normal;
  width: 13px;
  height: 13px;
  margin-right: 5px;
  margin-bottom: 2px;
}

.hidden-icon {
  visibility: hidden;
}

