.row {
  margin-right: -0.5rem !important;
  margin-left: -0.5rem !important;
}

.content .page-content {
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
  display: inline-block;
  vertical-align: middle;
  width: 100%;
  height: auto;
  padding: 20px;
}

.activity-detail {
  margin-bottom: 50px;
}

.detail-header-image {
  width: 35%;
  height: auto;
  border-radius: 8px;
}

h3 {
  font-size: 18px;
  font-weight: 600;
  color: #000;
}

.admiration-cont {
  display: flex;
  gap: 8px;
}

.activity-score {
  font-size: 16px;
  font-family: "Poppins", Helvetica, Arial, sans-serif;
  padding: 8px 5px;
  font-weight: 600;
  text-align: center;
  margin-right: 12px;
  color: #fff;
  background: #3dcb79;
  border-radius: 4px;
}

.date-info-container {
  width: fit-content;
}

.date-info {
  margin-top: 15px;
  font-weight: 700;
  display: flex;
}

.text-green {
  color: #3dcb79 !important;
}

.ss-like:before,
.ss-like.right:after {
  content: "\1F44D";
}

.ss-icon {
  margin-right: 4px;
  padding-top: 2px;
  font-family: "SSStandard";
  font-style: normal;
  font-weight: normal;
  text-decoration: none;
  text-rendering: optimizeLegibility;
  white-space: nowrap;
}

.add-favorite-img {
  width: 38px;
  height: 38px;
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;
  overflow: visible;
}

.like-text {
  font-size: 30px;
  z-index: 1;
  transform: translate(0.2em, -0.15ex);
  margin-right: 17px;
  color: #7f7f7f !important;
  cursor: pointer;
}

.like-area {
  display: flex;
}
.ant-space-align-center {
  align-items: center;
}

.main-content {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 35px;
}

.col-xs-12 {
  flex-basis: 100%;
  max-width: 100%;
  padding-right: 0.5rem !important;
  padding-left: 0.5rem !important;
}

.progress-bar {
  width: 100%;
  height: 6.5px !important;
  background: linear-gradient(to right, #2ddfff, #b7df2d);
  margin-right: calc(-2em - 20px);
  padding-right: calc(2em + 20px);
  display: inline-block;
  position: relative;
  font-size: 14px;
  margin-inline-end: 8px;
  margin-bottom: 47px;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: rgba(0, 0, 0, 0.88);
  line-height: 1.5714285714285714;
  list-style: none;
}
.ant-progress-outer {
  width: 100%;
  height: 3px;
}

.text-sm-right {
  text-align: right;
}

.progress-bar .progress-text {
  display: inline-block;
  width: 2em;
  color: rgba(0, 0, 0, 0.88);
  line-height: 1;
  white-space: nowrap;
  text-align: start;
  vertical-align: middle;
  word-break: normal;
  color: #565656;
}

.progress-bar .progress-inner {
  position: relative;
  display: inline-block;
  width: 100%;
  overflow: hidden;
  vertical-align: middle;
  background-color: rgba(0, 0, 0, 0.06);
  border-radius: 100px;
}

.activity-detail-tabs {
  margin-top: 20px;
}

.activity-detail-header {
  margin-top: 14px;
}

.ant-tabs .ant-tabs-content-holder {
  flex: auto;
  min-width: 0;
  min-height: 0;
}

.ant-tabs {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: rgba(0, 0, 0, 0.88);
  line-height: 1.5714285714285714;
  list-style: none;
  display: flex;
  overflow: visible !important;
}

.ant-tabs-top {
  flex-direction: column;
}

.ant-tabs .ant-tabs-content {
  position: relative;
  width: 100%;
}

.activity-largeImageFileName.activity-video {
  height: 400px;
}

.activity-largeImageFileName.activity-video > div {
  width: auto;
  height: 100%;
}

.activity-largeImageFileName {
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
  overflow: hidden;
  position: relative;
}

.activity-largeImageFileName img {
  width: 100%;
  height: auto;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  right: auto;
  bottom: auto;
  z-index: 1;
}

.unit-detail-title {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 15px;
  display: block;
}

.unit-detail-col-default {
  color: #818181;
}

.unit-detail-col {
  display: inline-block;
  vertical-align: middle;
  margin-right: 20px;
}

.ScrollbarsCustom {
  position: relative;
  width: 100%;
  height: 53px;
}

.ScrollbarsCustom .ScrollbarsCustom-Wrapper {
  inset: 0 20px 0 0 !important;
}

.ScrollbarsCustom-Wrapper {
  position: absolute;
  inset: 0px;
  overflow: hidden;
}

.ScrollbarsCustom-Scroller {
  position: absolute;
  inset: 0px;
  overflow: hidden;
}

.ScrollbarsCustom-Content {
  box-sizing: border-box;
  min-width: 100%;
  display: inline-block !important;
}

.unit-info {
  background: #f2f2f2;
}

.unit-info-left-block {
  display: inline-block;
  vertical-align: middle;
  width: -webkit-calc(100% - 28px);
  width: calc(100% - 28px);
  margin-top: 7px;
  margin-right: 0;
  margin-bottom: 7px;
  margin-left: 7px;
  cursor: pointer;
}

.unit-info-left-block {
  display: inline-block;
  vertical-align: middle;
  width: calc(100% - 28px);
  margin-top: 7px;
  margin-right: 0;
  margin-bottom: 7px;
  margin-left: 7px;
  cursor: pointer;
}

.unit-info-type {
  line-height: 18px;
  margin-top: 3px;
}

.unit-info-type-name {
  color: #818181;
  font-weight: 500;
  font-size: 12px;
}

.unit-info-right-block {
  display: inline-block;
  vertical-align: middle;
  margin: 7px 0;
  text-align: right;
}

.unit-completed {
  background: url("/public/images/completed.svg") no-repeat;
}

.unit-icon {
  width: 13px;
  height: 13px;
  display: inline-block;
  vertical-align: middle;
  background-size: 100% !important;
  margin-bottom: 15px;
}

.unit-info-title {
  word-break: break-word;
  word-wrap: break-word;
  font-weight: 500;
  font-size: 16px;
  margin-right: 10px;
  line-height: 18px;
  color: #000;
}

.col-lg-7 {
  flex-basis: 58.33333333%;
  max-width: 58.33333333%;
}

.activity-unit-detail {
  padding: 15px 20px;
}

.ant-space {
  width: 100%;
  gap: 8px;
}

.ant-btn {
  border-color: #9933ff !important;
  color: #9933ff !important;
}

.ant-btn-lg {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-weight: 600 !important;
}

.ant-btn.ant-btn-lg {
  font-size: 16px;
  height: 40px;
  padding: 6.428571428571429px 15px;
  border-radius: 8px;
}

.ant-btn.ant-btn-block {
  width: 100%;
}

.ss-lock:before,
.ss-lock.right:after {
  content: "\1F512";
}

.ss-lock {
  color: #fff;
  font-size: 50px;
  position: absolute;
  left: 47%;
  top: 40%;
  right: auto;
  bottom: auto;
  z-index: 1;
}

.ss-icon .ss-lock {
  font-family: "SSStandard";
  font-style: normal;
  font-weight: normal;
  text-decoration: none;
  text-rendering: optimizeLegibility;
  white-space: nowrap;
}
